body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-height: 66px;
    width: auto;
    margin-right: 1rem;
    transition: transform 0.3s ease;
}

.logo:hover img {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f0c14b;
}

main {
    padding: 2rem;
    text-align: center;
    min-height: calc(100vh - 200px); /* Ensure main content height */
}

.team-button {
    display: flex;
    align-items: center;
    background-color: #000;
    width: 500px; /* Increased width to make it more rectangular */
    height: 150px; /* Increased height to maintain proportion */
    margin: 2rem auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none; /* Remove underline */
}

.team-button img {
    height: 100px; /* Adjusted height to fit within the new dimensions */
    width: auto;
    margin: 0 1rem;
}

.team-button .team-text {
    color: #fff;
    font-size: 1.5rem;
    flex: 1;
    text-align: center;
}

.team-button:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 0.5rem 0;
}

form input, form textarea {
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5rem 2rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

form button:hover {
    transform: scale(1.1);
    background-color: #555;
}

form button:active {
    transform: scale(1);
}
